.App {
  text-align: center;
  color: #282c34;
}

.complete {
  text-decoration: line-through;
  text-decoration-thickness: 0.2em;
}

.heading {
  background-color: #282c34;
  color:antiquewhite;
  margin: 0px;
  margin-bottom: 6em;
}

.todoForm {
  display: block;
  border: black 1px solid;
  margin-bottom: 4em;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(223, 223, 223);
}

.listContainer {
  border: black 1px solid;
  margin-bottom: 4em;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: rgb(223, 223, 223);
}

.todoList {
  list-style-type: none;
}

.todoLabel {
  margin-right: 1em;
}

.todoSubmit {
  margin-left: 0.5em;
}

.listBox {
  display: inline-block;
  width: 200px;
  margin: 0.1em;
  margin-right: 0.5em;
  border: 0.1em solid black;;
  background-color: white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  filter: drop-shadow(0.1em 0.1em 0.1em)
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

.navHome {
  display: inline-block;
  background-image: url("./Images/list.svg");
  background-repeat: no-repeat;
  width: 25px;
  filter: invert(100%);
  margin-top: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}

.navAbout {
  display: inline-block;
  background-image: url("./Images/question.svg");
  background-repeat: no-repeat;
  width: 15px;
  filter: invert(100%);
  margin-top: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
}

.headingText {
  padding-bottom: 1.75em;
}

.completeButton {
  background-color: white;
  color: green;
  height: 2em;
  width: 3em;
  margin-right: 0.2em;
}

.deleteButton {
  background-color: white;
  color: red;
  height: 2em;
  width: 3em;
}

.editButton {
  background-color: white;
  height: 2em;
  width: 3em;
  margin-right: 0.2em;
}